{% if is_new_article %}# {{title}}

## Metadata
{% if author %}- Author: [[{{author}}]]{% endif %}
- Title: {{title}}
{% if url %}- Link: {{url}}{% endif %}
- Category: #article
- Written: x
- Annotated: x{% endif %}

{% if is_new_article -%}## My Annotations{%- endif %}
{% for highlight in highlights %}
`"{{highlight.text | replace("\n", " ") | replace("            ", " ")}}"`
{% if highlight.annotation or (highlight.tags | length) %}- {{highlight.annotation | replace("\n", " ")}}{% for tag in highlight.tags %} [[{{tag}}]]{% endfor %}{%- endif %}
{% endfor %}
