
## Page Note
{{ page_note.annotation }}
{% if page_note.tags | length -%}
{% for tag in page_note.tags %}#{{ tag | replace(" ", "-")}} {% endfor %}
{%- endif %}

## Annotations

{% macro annotationText(highlight, indentLevel = 0) -%}
    {%- set lines = highlight.annotation.split("\n\n") -%}
        {%- for line in lines -%}
            {%- for i in range(0, indentLevel) %}{{ "	" }}{% endfor -%}
            {{ "- " }}
            {%- if highlight.user != "peterhagen" %}[{{ highlight.user }}](https://hypothes.is/users/{{ highlight.user }}): {% endif -%}
            {{ line | replace("\n", " ") }}{{ "\n" }}
        {%- endfor -%}
    {%- if highlight.tags | length -%}
        {%- for i in range(0, indentLevel) %}{{ "	" }}{% endfor -%}
        - {% for tag in highlight.tags %}#{{ tag | replace(" ", "-")}} {% endfor -%}
        {{ "\n" }}
    {%- endif -%}
    {%- for reply in highlight.replies -%}
        {{ annotationText(reply, indentLevel+1) }}
    {%- endfor -%}
{%- endmacro %}

{%- for highlight in highlights -%}
> {{ highlight.text }} []({{highlight.incontext}})
{{ annotationText(highlight) }}
{% endfor %}
